/**
 **********************************
 * LOADER
 **********************************
 */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000 !important;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;

	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

	z-index: 1001;
}

	#loader:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #e74c3c;

		-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	#loader:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #f9c922;

		-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	@-webkit-keyframes spin {
		0%   {
			-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);  /* IE 9 */
			transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		}
		100% {
			-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);  /* IE 9 */
			transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
		}
	}
	@keyframes spin {
		0%   {
			-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);  /* IE 9 */
			transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		}
		100% {
			-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);  /* IE 9 */
			transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
		}
	}

	#loader-wrapper .loader-section {
		position: fixed;
		top: 0;
		width: 51%;
		height: 100%;
		background: #222222;
		z-index: 1000;
		-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(0);  /* IE 9 */
		transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
	}

	#loader-wrapper .loader-section.section-left {
		left: 0;
	}

	#loader-wrapper .loader-section.section-right {
		right: 0;
	}

	/* Loaded */
	.loaded #loader-wrapper .loader-section.section-left {
		-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: translateX(-100%);  /* IE 9 */
				transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}

	.loaded #loader-wrapper .loader-section.section-right {
		-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: translateX(100%);  /* IE 9 */
				transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
		transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}

	.loaded #loader {
		opacity: 0;
		-webkit-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
	}
	.loaded #loader-wrapper {
		visibility: hidden;

		-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: translateY(-100%);  /* IE 9 */
				transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

		-webkit-transition: all 0.3s 1s ease-out;
				transition: all 0.3s 1s ease-out;
	}

	/* JavaScript Turned Off */
	.no-js #loader-wrapper {
		display: none;
	}
	.no-js h1 {
		color: #222222;
	}

	#content {
		margin: 0 auto;
		padding-bottom: 50px;
		width: 80%;
		max-width: 978px;
	}
/**
 * so footer stay on bottom & main takes all spaces
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**
 **********************************
 * WHEEL MENU
 **********************************
 */

.component {
	position: relative;
	margin-bottom: 3em;
	height: 20em;
	font-family: 'Lato', Arial, sans-serif;
}

.cn-wrapper {
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 10;
	margin-top: -13.5em;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	background: url(/images/tire.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0;
	transition: all .3s ease 0.3s;
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

.cn-wrapper.loading {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*cover to prevent extra space of anchors from being clickable*/
.cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.opened-nav {
	border-radius: 50%;
	opacity: 1;
	transition: all .3s ease;
	transform: scale(1);
	pointer-events: auto;
}

.cn-wrapper li {
	position: absolute;
	top: 2%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	transform: skew(30deg);
	transform-origin: 100% 100%;
	pointer-events: none;
}

.cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
/*	background: radial-gradient(transparent 35%, #000 50%);*/
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	transform: skew(-30deg) rotate(-60deg) scale(1);
	backface-visibility: hidden;
	pointer-events: auto;
}

.cn-wrapper li a span {
	position: relative;
	line-height: .8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	text-transform: uppercase;
}

.cn-wrapper li a:hover,
.cn-wrapper li a:active,
.cn-wrapper li a:focus {
	background: radial-gradient(transparent 35%, #555 50%);
}

.cn-wrapper li a:focus {
	position: fixed !important; /* fix the displacement bug in webkit browsers when using tab key */
}

.opened-nav li:first-child {
	transform: rotate(360deg) skew(30deg);
}

.opened-nav li:nth-child(2) {
	transform: rotate(60deg) skew(30deg);
}

.opened-nav  li:nth-child(3) {
	transform: rotate(120deg) skew(30deg);
}

.opened-nav li:nth-child(4) {
	transform: rotate(180deg) skew(30deg);
}

.opened-nav li:nth-child(5) {
	transform: rotate(240deg) skew(30deg);
}

.opened-nav li:nth-child(6) {
	transform: rotate(300deg) skew(30deg);
}

.opened-nav  li:nth-child(4) span,
.opened-nav  li:nth-child(5) span,
.opened-nav  li:nth-child(6) span {
	transform: rotate(180deg);
}

@media only screen and (max-width: 480px) {
	.component {
		height: 25em;
	}
	.cn-wrapper {
		top: 60%;
	}

	.cn-wrapper {
		font-size: .68em;
	}
}
@media only screen and (min-width: 480px) {
	.component {
		height: 25em;
	}
	.cn-wrapper {
		top: 60%;
	}
	.cn-wrapper li a span {
		top:.5em;
	}
}
